.userProfile {
  height: 100%; }

.userProfile .profile div div:nth-child(2) .list .item:not(:first-child) {
  padding: 0 0 2px 0;
  margin: 0; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) {
  align-items: center; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) .description {
  line-height: 2em; }

/* .userProfile .profile div:nth-child(2) div div div:nth-child(2) .description .pics {
  display: flex;
  float: right; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) .description .pics img {
  border-radius: 50%;
  height: 35px;
  border-radius: 50%;
  height: 35px; } */
