.userProfile .profile div:nth-child(2) div div div:nth-child(2) {
  align-items: center; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) .description {
  line-height: 2em; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) .description .pics {
  display: flex;
  float: right; }

.userProfile .profile div:nth-child(2) div div div:nth-child(2) .description .pics img {
  border-radius: 50%;
  height: 35px; }
