.userProfile {
    .profile { //ui centereed container
        div:nth-child(2) { // stretched row
            div { // stretch column
                div { //UI Fluid
                    div:nth-child(2) { // content
                        align-items: center;
                        .description { // description
                            line-height: 2em;
                            .pics{
                                display: flex;
                                float: right;
                                img {
                                    border-radius: 50%;
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}