@import "../../sassStyles.scss";
.dashboard {
    display: grid;
    justify-items: center;
    .upcoming-task-warapper-row {
        margin-bottom: 30px;
        .upcoming-task-warapper-col {
            box-shadow: $all-box-shadow;
            .upcoming-task-inner {
                .upcoming-task {
                    .upcoming-task-label {
                        font-size: 3em;
                    }
                }
                .upcoming-task-description {
                    h3 {
                        font-size: 2em;
                    }
                }
            }
        }
    }
    .calendar-container {
        .calendar {
            margin-bottom: 30px;
            .rbc-calendar {
                .rbc-toolbar {
                    .rbc-btn-group {
                        background-color: white;
                        background-clip: padding-box;
                    }
                }
                .rbc-time-view {
                    .rbc-time-header {
                        border: $all-borders;
                        box-shadow: $all-box-shadow;
                        background-color: white;
                        .rbc-label {
                            padding: 0;
                        }
                        .rbc-time-header-content {
                            .rbc-row {
                                .rbc-today {}
                            }
                        }
                    }
                    .rbc-time-content {
                        display: none;
                    }
                }
                .rbc-month-view {
                    height: 500px;
                    background-color: white;
                    box-shadow: $all-box-shadow;
                }
                .rbc-agenda-view {
                    background-color: white;
                    box-shadow: $all-box-shadow;
                }
            }
        }
    }
    .bulletin {
        height: 650px;
        width: 1125px;
        border: $bulletin-border;
        background-image: url('https://i.imgur.com/j3tBLzp.jpg');
        box-shadow: $all-box-shadow;
        .note {
            position: relative;
            width: 150px;
            height: 150px;
            background-color: rgb(255, 255, 138);
            border: 1px black solid;
        }
        .invisible {
            opacity: 0;
        }
    }
}
