.dashboard {
  display: grid;
  justify-items: center; }

.dashboard .upcoming-task-warapper-row {
  margin-bottom: 30px; }

.dashboard .upcoming-task-warapper-row .upcoming-task-warapper-col {
  box-shadow: 2px 2px 5px black; }

.dashboard .upcoming-task-warapper-row .upcoming-task-warapper-col .upcoming-task-inner .upcoming-task .upcoming-task-label {
  font-size: 3em; }

.dashboard .upcoming-task-warapper-row .upcoming-task-warapper-col .upcoming-task-inner .upcoming-task-description h3 {
  font-size: 2em; }

.dashboard .calendar-container {
  margin-bottom: 30px; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-toolbar .rbc-btn-group {
  background-color: white;
  background-clip: padding-box; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-time-view .rbc-time-header {
  border: 1px solid #283F3B;
  box-shadow: 2px 2px 5px black;
  background-color: white; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-time-view .rbc-time-header .rbc-label {
  padding: 0; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-time-view .rbc-time-content {
  display: none; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-month-view {
  height: 500px;
  background-color: white;
  box-shadow: 2px 2px 5px black; }

.dashboard .calendar-container .calendar .rbc-calendar .rbc-agenda-view {
  background-color: white;
  box-shadow: 2px 2px 5px black; }

.dashboard .bulletin {
  height: 650px;
  width: 1125px;
  border: #c97e14 10px solid;
  background-image: url("https://i.imgur.com/j3tBLzp.jpg");
  box-shadow: 2px 2px 5px black; }

.dashboard .bulletin .note {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ffff8a;
  border: 1px black solid; }

.dashboard .bulletin .invisible {
  opacity: 0; }
